.item-content{
text-align:justify;
color:white;
line-height: 200%;
}

body{
  height:100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height:15px;
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   background:radial-gradient(circle at 50%-100%, white 20%, black, black);
  background: -webkit-radial-gradient(circle at 50%-100%, white 20%, black, black);
}

a{
	text-decoration: underline;
	color: white;
}