/*last modified: Aug 10, by Panpan*/
/*current support browser size: no smaller than 597 / 686 * 387, 
which basically means support tablets but not phones */

/* ========================== Touch these and you will die!!!!! ======================== */

/* ============================ universal ==========================*/

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height:15px;
  vertical-align: baseline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: radial-gradient(circle at 50% -100%, white 15%, black, black);
   background: -webkit-radial-gradient(circle at 50% -100%, white 15%, black, black);
}

div{
  display:block;
}

*, *:after, *:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

/* =========== logo and mute ========= */
#corner-logo-container{
    position:fixed;
    left:0px;
    top:0px;
}

#corner-logo{
    position:relative;
    width:167px;
    height:100px;
    background-image:url(../images/logo-trans.png);
    background-size:contain;
    background-repeat: no-repeat;
}


#corner-mute{
    position:fixed;
  right:15px;
  top:20px;
    height:50px;
    width:50px;
    cursor:pointer; //gives it a hover cursor to emphasise that it's interactive
}

#corner-mute-false{
    position:relative;
    width:50px;
    height:50px;
    background-image: url(../images/icon-mute-false.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#corner-mute-false:hover{
    background-image:url(../images/icon-mute-false-hover.png);
    -ms-transform:translate(5px,-5px);
    -webkit-transform:translate(5px,-5px);
  -moz-transform:translate(5px,-5px);
  -o-transform:translate(5px,-5px);
    transform:translate(5px,-5px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
    -o-transition: all 0.3s ease;
  transition:all 0.3s ease;
}

#corner-mute-true{

    position:relative;
    width:50px;
    height:50px;
    background-image: url(../images/icon-mute-true.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#corner-mute-true:hover{
    
    background-image:url(../images/icon-mute-true-hover.png);
    -ms-transform:translate(5px,-5px);
    -webkit-transform:translate(5px,-5px);
  -moz-transform:translate(5px,-5px);
  -o-transform:translate(5px,-5px);
    transform:translate(5px,-5px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

@media only screen and (min-width:1280px){
    #corner-logo{
        height:100px;
    }
}


@media only screen and (max-width:1279px){
    #corner-logo{
        height:90px;
    }
}

@media only screen and (max-width:800px){
    #corner-logo{
        height:70px;
    }

    #corner-mute{
     right:15px;
     top:15px;
     height:40px;
       width:40px;
    }
    #corner-mute-true{
        width:40px;
        height:40px;
    }
    #corner-mute-false{
        width:40px;
        height:40px;
    }
}
/* ========= end of logo and mute =========*/

/* =========== footer ===========*/
.corner{
    position:fixed;
    z-index:800;
    height:50px;
    bottom:0px;
  border-top:2px solid rgba(255,255,255,0.5);
    background-color:rgba(88,88,88,0.5);
}

#corner-footer{
  width:100px;
  left:0px;
}

footer{
  position:fixed;
  z-index:300;
  left:12px;
  bottom:10px;
}

.footer-icon{
    position:relative;
    display:inline-block;
    background-size:contain;
    background-repeat: no-repeat;
  height:35px;
  width:35px;
  margin-bottom:-8px;
    background-size:contain;
    background-repeat: no-repeat;
}

#icon-facebook{
    background-image: url(../images/icon-facebook.png);
}

#icon-facebook:hover{
    background-image:url(../images/icon-facebook-hover.png);
}

#icon-twitter{
    background-image: url(../images/icon-twitter.png);
}

#icon-twitter:hover{
    background-image:url(../images/icon-twitter-hover.png);
}

.footer-icon:hover{
   margin-bottom:-5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition:all 0.3s ease;
}
/* ============ end of footer ========== */

/* ========= right corner without view filter =========*/
#corner-about-only{
    width:55px;
    right:0px;
}
/* ========== end of right corner without view filter =========*/

/* ========== right corner with view filter ===========*/
#corner-view{
  width:200px;
  right:0px;
}

#view{
  position:fixed;
  right:65px;
  bottom:15px;
  color:#ECECEC;
  font-size:0.9em;
}

#view select{
    width:80px;
    height:20px;
    background-color:inherit;
    color:white;
}

#view option{
    background-color:rgba(88,88,88,1);
    color:white;
}

#icon-about{
    position:fixed;
    right:10px;
    bottom:12px;
    background-image: url(../images/icon-about.png);
}

#icon-about:hover{
    background-image: url(../images/icon-about-hover.png);
}
/* ============ end of right corner with view filter========*/

/* ===== map/inventory view =====*/
.footer-wrapper{
    position:fixed;
    width:100%;
    height:70px;
    bottom:0px;
}

.icon-menu-background{
    position:relative;
    height:70px;
    width:373px;
    bottom:0px;
    margin:0 auto;
    background-image:url("../images/icon-menu-background.png");
    background-size:contain;
    background-repeat:no-repeat;
}

.middle{
  position:relative;
  z-index:500;
  height:70px;
  width:223px;
  bottom:0px;
  margin-left: 15%;
}

.middle div:hover{
   -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
    transform:scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

#inventory-corner{
    position:relative;
    height:50px;
    width:50px;
    bottom:-12px;
    float:right;
    right:50px;
    background-image:url(../images/icon_inventory.png);
    background-size:contain;
    background-repeat:no-repeat;
}

#inventory-corner:hover{
    background-image:url(../images/icon_inventory_hover.png);
}

#map-corner{
    position:relative;
    height:50px;
    width:50px;
    bottom:-12px;
    float:left;
    left:8px;
    background-image:url(../images/icon_map.png);
    background-size:contain;
    background-repeat:no-repeat;
}

#map-corner:hover{
    background-image: url(../images/icon_map_hover.png);
}
/* ===== end of map/inventory view =====*/

/* ======= triangle and diagonal lines ======*/
.nav-arrow{
    position:fixed;
    width:0px;
    height:0px;
}

#nav-arrow-left{
    bottom:-38px;
    right:47px;
    border-top:53px solid transparent;
    border-bottom:32px solid transparent;
    
    border-left:33px solid rgba(88,88,88,0.5);
  -ms-transform:rotate(32deg);
  -webkit-transform:rotate(32deg);
  -moz-transform:rotate(32deg);
  -o-transform:rotate(32deg);
    transform:rotate(32deg);
}

#nav-arrow-left-filter{
    bottom:-38px;
    right:192px;
    border-top:53px solid transparent;
    border-bottom:32px solid transparent;
    
    border-left:33px solid rgba(88,88,88,0.5);
  -ms-transform:rotate(32deg);
  -webkit-transform:rotate(32deg);
  -moz-transform:rotate(32deg);
  -o-transform:rotate(32deg);
    transform:rotate(32deg);
}

#nav-arrow-right{
    bottom:-38px;
    left:92px;
    border-top:53px solid transparent;
    border-bottom:32px solid transparent;
    
    border-right:33px solid rgba(88,88,88,0.5);
  -ms-transform:rotate(-32deg);
  -webkit-transform:rotate(-32deg);
  -moz-transform:rotate(-32deg);
  -o-transform:rotate(-32deg);
    transform:rotate(-32deg);
}

.diagonal-line{
  position:fixed;
    /*z-index:-350;*/
}

#southWest{
  width:57px;
  left:86px;
  bottom:24px;
  border-bottom:2px solid rgba(255,255,255,0.7);
  -webkit-transform:rotate(58deg);
  -moz-transform:rotate(58deg);
  -o-transform:rotate(58deg);
  -ms-transform:rotate(58deg);
  transform:rotate(58deg);    
}

#southEast{
  width:57px;
  right:42px;
  bottom:24px;
  border-bottom:2px solid rgba(255,255,255,0.7);
  -webkit-transform:rotate(-58deg);
  -moz-transform:rotate(-58deg);
  -o-transform:rotate(-58deg);
  -ms-transform:rotate(-58deg);
  transform:rotate(-58deg);     
}

#southEastFilter{
  width:57px;
  right:187px;
  bottom:24px;
  border-bottom:2px solid rgba(255,255,255,0.7);
  -webkit-transform:rotate(-58deg);
  -moz-transform:rotate(-58deg);
  -o-transform:rotate(-58deg);
  -ms-transform:rotate(-58deg);
  transform:rotate(-58deg); 
}
/* ====== end of triangle and diagonal lines ======= */

/* ======= graceful degradation =======*/
@media only screen and (max-width:493px){
    #corner-footer{
        visibility: hidden;
    }
    #nav-arrow-right{
        visibility: hidden;
    }
    #southWest{
        visibility: hidden;
    }

    .footer-wrapper{
        height:50px;
    }
    .icon-menu-background{
        left:-55px;
        background-image: none;
    }
    #inventory-corner{
        height:35px;
        bottom:-8px;
        right:115px;
    }
    #map-corner{
        height:35px;
        bottom:-8px;
        left:10px;
    }
}

@media only screen and (max-width:330px){
    #southEastFilter{
        visibility: hidden;
    }
    #nav-arrow-left-filter{
        visibility: hidden;
    }
    #view{
        visibility:visible;
        right:45px;
    }
    #corner-view{
        width:45px;
        background-color:transparent;
        border:none;
        visibility: visible;
    }
    #icon-about{
        right:5px;
        bottom:10px;
    }
}

@media only screen and (max-width:275px){
    #view{
        visibility: hidden;
    }
}

/* ===== end of graceful degradation =====*/

/* =========================== end of universal =========================*/


/* ============================ template-item =========================*/
.item-wrapper{
    position:fixed;
    top:100px;
    bottom:110px;
    height:auto;
    overflow:auto;
}

@media only screen and (min-width:1087px){
    .item-wrapper{
        width:60%;
        left:20%;
    }
}

@media only screen and (max-width:1086px){
    .item-wrapper{
        width:68%;
        left:18%;
    }
}

@media only screen and (max-width:783px){
    .item-wrapper{
        width:90%;
        left:5%;
        /*bottom:22%;*/
    }
}

.item-description{
    position:relative;
    width:45%;
    /*height:100%;*/
    float:left;
    border:1px solid white;
}

.item-description table{
    width:100%;
}

.item-description th{
    background-color:white;
    color:rgb(88,88,88);
    padding:10px;
}

.item-description td{
    background-color:rgba(88,88,88,0.5);
    color:white;
    text-align:left;
    padding:10px;
    line-height: 1.2;
}

.item-content{
    position:relative;
    width:55%;
    height:auto;
    float:right;
    border:1px solid white;
    background-color:rgba(88,88,88,0.5);
}

.item-content-holder{
    position:relative;
    width:90%;
    height:95%;
    left:5%;
/*    margin-top:2%;*/
}

.item-content-holder img, video{
    max-width:100%;
    max-height:100%;
    margin-top: 1.5em;
  }

.item-content-holder iframe{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
}

.item-content-holder audio{
  margin-top: 40%;
}


/* ====== graceful degradation ======*/
@media only screen and (max-width:574px){
    .item-wrapper{
        bottom:75px;
        top:70px;
        height:auto;
        overflow: auto;
    }
    .item-description{
        position:relative;
        display:block;
        width:100%;
        /*height:100%;*/
        border:1px solid white;
    }
    .item-description table{
        padding: 0px;
        line-height: 1;
        font-size: 0.8em;
    }
    .item-content{
        position:relative;
        display:block;
        width:100%;
        height:auto;
        border:1px solid white;
        background-color:rgba(88,88,88,0.5);
    }
    .item-content-holder{
        width:96%;
        left:2%;
        margin-top:5px;
    }
}

@media only screen and (max-width:494px){
    .item-wrapper{
        bottom:55px;
    }
}
/* ===== end of graceful degradation =====*/

/* ===================== end of template-item =====================*/



/* ================ map ============= */

/* Leaflet map basic setting*/
.leaflet-bottom{
    visibility: hidden;
}
.leaflet-container{
  background:#000000;
}
/* end of Leaflet map basic setting*/

#map{
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
  z-index:0;
}

/*rules affecting the popup-map class in the map page*/
.popup-map{
  position:fixed;
  top:20%;
  margin-left:65%;
  z-index:1002;
  background-color:transparent;
  color:#ececec;
  font-family: "Viner Hand ITC", Serif;
  font-weight:bold;
  border:0;
  font-size:22px;
  text-shadow:2px 2px rgba(217,0,0,0.7);
   
  -webkit-animation:fadein 1s; /*Safari and Chrome*/
  -moz-animation:fadein 1s; /*Firefox*/
  -ms-animation:fadein 1s; /*IE*/
  -o-animation:fadein 1s; /*Opera*/
  animation:fadein 1s;
}

@keyframes fadein{
  from {opacity:0;}
  to  {opacity:1;}
}

/*Firefox*/
@-moz-keyframes fadein{
  from {opacity:0;}
  to  (opacity:1;)
}

/*Safari and Chrome*/
@-webkit-keyframes fadein{
  from {opacity:0;}
  to  {opacity:1}
}

/*IE*/
@-ms-keyframes fadein{
  from {opacity:0;}
  to  {opacity:1;}
}

/*Opera*/
@-0-keyframes fadein{
  from {opacity:0;}
  to {opacity:1;}
}

/*end of popup-map class in the map page*/


/*beginning of custom popup for material*/

.leaflet-popup-content-wrapper{
  background:rgba(0,0,0,0);
  color:#fff;
/*  width:700px;
  height:100%;
  font-size:16px;
  line-height:24px;*/
}

.leaflet-popup-content-wrapper{
  padding:0px;
}

.leaflet-popup-content-wrapper img{
  max-width:100%;
  max-height:100%;
}

.leaflet-popup-content{
  margin:0px;
}

/*
.leaflet-popup-tip-container{
  height:-25px;
}
*/

.leaflet-popup-tip{
  visibility:hidden;
/*  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid transparent;*/
}

.leaflet-container a.leaflet-popup-close-button{
  visibility:hidden;
}

/*end of custom popup for material*/


/*beginning of light-box
#lightbox{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
/*another option for older browser with 1x1 PNG: 
  background: url(overlay.png) repeat
  text-align:center;
}

#lightbox p{
  text-align:right;
  color:#fff;
  margin-right:20px;
  font-size:12px;
}

#lightbox img{
  box-shadow:0 0 25px #111;
  -webkit-box-shadow:0 0 25px #111;
  -moz-box-shadow: 0 0 25px #111;
  max-width:80%;
  max-height:80%;
}

end of light-box*/
/* ============ end of map ============*/
/* ============================ end of touch these and you will die!!!!! =========================*/

/*-----------------------------------------------------------------------------------------------------*/
/*NO ONE CROSSES THIS LINE WITHOUT MY SAY SO. THAT INCLUDES YOU PANPAN*/
/*-----------------------------------------------------------------------------------------------------*/


/*beginning of Kyle's code - Inventory styling*/
#timeline_container{
  margin: 0 auto 0;
  height: 180px;
  width: 400px;
}

#timeline{
    margin: 1.5em auto 0;
    height: 160px;
    overflow:hidden;
    list-style-type:none;
    width: 400px;
    position: absolute;
    pointer-events: none;
  -webkit-animation:fadein 1s; /*Safari and Chrome*/
  -moz-animation:fadein 1s; /*Firefox*/
  -ms-animation:fadein 1s; /*IE*/
  -o-animation:fadein 1s; /*Opera*/
  animation:fadein 1s;

  }


#timeline li{
  display: none;
}

a.locked {
   pointer-events: none;
   cursor: default;
}

#timeline li.selected{
   padding: .5em 0;
  line-height: 0.5em;
    display: inline-block;
      -webkit-animation:fadein 1s; /*Safari and Chrome*/
  -moz-animation:fadein 1s; /*Firefox*/
  -ms-animation:fadein 1s; /*IE*/
  -o-animation:fadein 1s; /*Opera*/
  animation:fadein 1s;

}

.flag{
  font-family: "Verdana", Serif;
  border:0;
  font-size:12px;
  text-shadow:2px 2px rgba(217,0,0,0.7);
  position: absolute;
  background: rgba(255,255,255,0.5);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto 0;
  font-weight: 600;
  text-shadow: 1px 1px #ccc;

}

.flag:hover{
  cursor: pointer;
}

.desc{
  text-align: center;
  font-family: "Verdana", Serif;
  font-weight:bold;
  border:0;
  margin: 50px auto 0;
  font-size:15px;
  text-shadow:2px 2px rgba(217,0,0,0.7);
}

.desc h2{
  font-weight: 200;
  font-size: 15px;
  margin: 0 auto 0;
  clear:both;
  color: #ccc;
  text-shadow: 2px 2px rgb(0,0,0);
}

.desc h1{
  font-weight: 100;
  font-size: 15px;
  margin: 20px auto 0;
  color: #ccc;
  clear: both;
  text-shadow: 2px 2px rgb(0,0,0);
}

.desc h3:hover{
  cursor: pointer;
}

#carousel_container {

  width: 100%;
  height: 400px;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  }

   #carousel{
      height: 400px;
      list-style-type: none;
      float: left;
      width: 2000em;
      overflow: hidden;
      position: absolute; 

      }

 #carousel li {
        width: 100px;
        height: 250px;
        float: left;
        border-radius: 5px;
        margin-right: 0.5em;
        cursor: pointer;
        background: #34495e;
        }

      
      #carousel li:hover{   
    -webkit-animation: glow 0.2s;
  -moz-animation: glow 0.2s;
  animation: glow 0.2s;
  animation-fill-mode: forwards;
animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;


      }

@media all and (min-height: 1024px) and (max-height: 1200px){

 #carousel_container{
  margin: 10% auto 0;
 }

 .nav-buttons{
  margin: 10% auto 0;
  width: 90px;
  height: 90px;
 }

 .nav-buttons img{
  margin: 0 auto 0;
  width: 50px;
  height: 50px;
 }

 #quicknav{
  margin: 5% 0 auto;
 }
}      

@media all and (min-height: 768px) and (max-height: 1024px){

  #timeline_container{
  margin: 0 auto 0;
  height: 180px;
  width: 400px;

}

#carousel_container {
  width: 100%;
  height: 400px;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  }

     #carousel{
      height: 400px;
      list-style-type: none;
      float: left;
      width: 2000em;
      overflow: hidden;
      position: absolute; 

      }

 #carousel li {
        width: 100px;
        height: 250px;
        float: left;
        border-radius: 5px;
        margin-right: 0.5em;
        cursor: pointer;
        background: #34495e;
        }

}

@media all and (min-height: 640px) and (max-height: 768px){

  #timeline_container{
  margin: 0 auto 2em;
  height: 180px;
  width: 400px;

}

#carousel_container {
  width: 100%;
  height: 400px;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  }

   #carousel{
      height: 400px;
      list-style-type: none;
      float: left;
      width: 2000em;
      overflow: hidden;
      position: absolute; 
      }

 #carousel li {
        width: 100px;
        height: 250px;
        float: left;
        border-radius: 5px;
        margin-right: 0.5em;
        cursor: pointer;
        background: #34495e;
        }

}


@-webkit-keyframes glow {
  0% {
    opacity:0.6;
  }
  100% {
    opacity: 1;
    background-color: #5e4934;

  }
}


@-moz-keyframes glow {
  0% {
    opacity:0.6;
  }
  100% {
    opacity: 1;
    background-color: #5e4934;

  }
}


@-ms-keyframes glow {
  0% {
    opacity:0.6;
  }
  100% {
    opacity: 1;
    background-color: #5e4934;

  }
}


#carousel li a{
    text-decoration: none;
    top: 20px;
    opacity: 0;
  }

.nav-buttons{
  opacity:0.5;
  border-radius: 20rem;
  border: 3px solid #666666;
  cursor: pointer;
  padding: 1rem;
  z-index: 10;
  background: #666666;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  }

#navPrev{
  float: left;
  position: absolute;
  left: 5px;
  top: 17em;
}

#navNext{
   float:right;
   position: absolute;
   right: 5px;
   top: 17em;
}

.nav-buttons:hover{
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#quicknav{
  position: absolute;
  top: 5em;
  list-style-type: circle;
  display: inline-block;
  z-index: 4;
}


@media all and (max-width: 519px) and (min-width: 300px)
{
  #quicknav{
  width: auto;
  left: 18%;
  top: 10em;
  position: absolute;
  list-style-type: circle;
  display: inline-block;
  z-index: 4;
  }

  .navButtons{
    border: 3px solid #ccc;
    position: absolute;
    top: 10px;
    z-index: 10;
  }

  #timeline{
    left: -12em;
  }


  .flag{
    font-size: 18px;
    padding: 0.5em;
  }

  .desc h3{
    font-size: 20px;
  }
  .desc h2{
    font-size: 20px;
  }
}

@media all and (max-width: 699px) and (min-width: 520px){
#quicknav{
  margin: 50px auto 0;
  position: absolute;
  list-style-type: circle;
  display: inline-block;
  z-index: 4;
}

#timeline{
  margin: 20px auto 0;
}

.desc h1{
  font-size: 14px;
}

.desc h2{
  font-size: 14px
}

.flag{
  font-size: 12px;
  margin: 0 auto 0;
}

}

@media all and (max-width: 1000px) and (min-width: 700px){
  #quicknav
  {
  width: auto;
  margin: 0 auto 0;
  top: 3%;
  position: absolute;
  list-style-type: circle;
  display: inline-block;
  z-index: 4;
}


}

@media all and (max-width: 1366px) and (min-width: 1001px){


.desc h2{
  margin: 50px auto 0;
  width: 100%;
}

.desc h1{
  margin: 20px auto 0;
  width: 100%;
}

.desc{
  margin: 0 50px 0;
}

.flag{
  margin-left: 10%;
}

#timeline{
    height: 160px;
    overflow:hidden;
    list-style-type:none;
    width: 400px;
    position: absolute;
    pointer-events: none;
  -webkit-animation:fadein 1s; /*Safari and Chrome*/
  -moz-animation:fadein 1s; /*Firefox*/
  -ms-animation:fadein 1s; /*IE*/
  -o-animation:fadein 1s; /*Opera*/
  animation:fadein 1s;

  }

  #quicknav{
  width: auto;
  margin: 4em auto 0;
  
  position: absolute;
  list-style-type: circle;
  display: inline-block;
  z-index: 4;
  }
}


#quicknav li{
  border: 7px solid #ccc; 
  width: 12px;
  height: 12px;
  position: relative;
  display: inline-block;
  border-radius: 8px;

  text-align: left;
  margin-right: 1em;
}

#quicknav li:hover{
  border: 7px solid red; 
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 8px;
  text-align: left;
  margin-right: 1em;
}

.activeLink{
  color: red;
   }

.year{
 position: relative;
color: red;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.notSelected{
  display: none;}

/* LIGHTBOX DEMO */

.lightbox{
  display: none;
  position: fixed;
  z-index: 400;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

.close{
  display: block;
  position: absolute;
  top: 1.2em;
  right: 29em;
  border: 4px solid red;
  padding: 2px;
  border-radius: 30px;
  z-index: 401;
  max-width: 50px;
  max-height: 50px;
}

#carousel .locked{
  pointer-events: none;
  cursor: default;
}


 .nav-buttons img{
  margin: 0 auto 0;
  width: 40px;
  height: 40px;
 }