/*last modified: Aug 10, by Panpan*/
/*current support browser size: no smaller than 597 / 686 * 387, 
which basically means support tablets but not phones */

/* ========================== Touch these and you will die!!!!! ======================== */

/* ============================ universal ==========================*/
html { height: 100% }

body{
  height:100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height:15px;
  vertical-align: baseline;
  background: #010303;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div{
  display:block;
}

*, *:after, *:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

/* =========== logo and mute ========= */
#corner-logo-container{
    position:fixed;
    left:0px;
    top:0px;
}

#corner-logo{
    position:relative;
    width:167px;
    height:100px;
    background-image:url(../images/logo-trans.png);
    background-size:contain;
    background-repeat: no-repeat;
}


#corner-mute{
    position:fixed;
	right:15px;
	top:20px;
    height:50px;
    width:50px;
}

#corner-mute-false{
    position:relative;
    width:50px;
    height:50px;
    background-image: url(../images/icon-mute-false.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#corner-mute-false:hover{
    background-image:url(../images/icon-mute-false-hover.png);
    -ms-transform:translate(5px,-5px);
    -webkit-transform:translate(5px,-5px);
	-moz-transform:translate(5px,-5px);
	-o-transform:translate(5px,-5px);
    transform:translate(5px,-5px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
    -o-transition: all 0.3s ease;
	transition:all 0.3s ease;
}

#corner-mute-true{
    position:relative;
    width:50px;
    height:50px;
    background-image: url(../images/icon-mute-true.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#corner-mute-true:hover{
    background-image:url(../images/icon-mute-true-hover.png);
    -ms-transform:translate(5px,-5px);
    -webkit-transform:translate(5px,-5px);
	-moz-transform:translate(5px,-5px);
	-o-transform:translate(5px,-5px);
    transform:translate(5px,-5px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

@media only screen and (min-width:1280px){
    #corner-logo{
        height:100px;
    }
}

@media only screen and (max-width:1279px){
    #corner-logo{
        height:90px;
    }
}

@media only screen and (max-width:800px){
    #corner-logo{
        height:70px;
    }
    #corner-mute{
	   right:15px;
	   top:15px;
	   height:40px;
       width:40px;
    }
    #corner-mute-true{
        width:40px;
        height:40px;
    }
    #corner-mute-false{
        width:40px;
        height:40px;
    }
}
/* ========= end of logo and mute =========*/

/* =========== footer ===========*/
.corner{
    position:fixed;
    z-index:800;
    height:50px;
    bottom:0px;
	border-top:2px solid rgba(255,255,255,0.5);
    background-color:rgba(88,88,88,0.5);
}

#corner-footer{
	width:100px;
	left:0px;
}

footer{
  position:fixed;
  z-index:300;
  left:12px;
  bottom:10px;
}

.footer-icon{
    position:relative;
    display:inline-block;
    background-size:contain;
    background-repeat: no-repeat;
	height:35px;
	width:35px;
	margin-bottom:-8px;
    background-size:contain;
    background-repeat: no-repeat;
}

#icon-facebook{
    background-image: url(../images/icon-facebook.png);
}

#icon-facebook:hover{
    background-image:url(../images/icon-facebook-hover.png);
}

#icon-twitter{
    background-image: url(../images/icon-twitter.png);
}

#icon-twitter:hover{
    background-image:url(../images/icon-twitter-hover.png);
}

.footer-icon:hover{
   margin-bottom:-5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
/* ============ end of footer ========== */

/* ========= right corner without view filter =========*/
#corner-about-only{
    width:55px;
    right:0px;
}
/* ========== end of right corner without view filter =========*/

/* ========== right corner with view filter ===========*/
#corner-view{
	width:200px;
	right:0px;
}

#view{
	position:fixed;
	right:65px;
	bottom:15px;
	color:#ECECEC;
	font-size:0.9em;
}

#view select{
    width:80px;
    height:20px;
    background-color:inherit;
    color:white;
}

#view option{
    background-color:rgba(88,88,88,1);
    color:white;
}

#icon-about{
    position:fixed;
    right:10px;
    bottom:12px;
    background-image: url(../images/icon-about.png);
}

#icon-about:hover{
    background-image: url(../images/icon-about-hover.png);
}
/* ============ end of right corner with view filter========*/

/* ===== map/inventory view =====*/
.footer-wrapper{
    position:fixed;
    width:100%;
    height:70px;
    bottom:0px;
}

.icon-menu-background{
    position:relative;
    height:70px;
    width:373px;
    bottom:0px;
    margin:0 auto;
    background-image:url("../images/icon-menu-background.png");
    background-size:contain;
    background-repeat:no-repeat;
}

.middle{
	position:relative;
	z-index:500;
	height:70px;
	width:223px;
	bottom:0px;
	margin-left: 15%;
}

.middle div:hover{
   -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
    transform:scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

#inventory-corner{
    position:relative;
    height:50px;
    width:50px;
    bottom:-12px;
    float:right;
    right:50px;
    background-image:url(../images/icon_inventory.png);
    background-size:contain;
    background-repeat:no-repeat;
}

#inventory-corner:hover{
    background-image:url(../images/icon_inventory_hover.png);
}

#map-corner{
    position:relative;
    height:50px;
    width:50px;
    bottom:-12px;
    float:left;
    left:8px;
    background-image:url(../images/icon_map.png);
    background-size:contain;
    background-repeat:no-repeat;
}

#map-corner:hover{
    background-image: url(../images/icon_map_hover.png);
}
/* ===== end of map/inventory view =====*/

/* ======= triangle and diagonal lines ======*/
.nav-arrow{
    position:fixed;
    width:0px;
    height:0px;
}

#nav-arrow-left{
    bottom:-38px;
    right:47px;
    border-top:53px solid transparent;
    border-bottom:32px solid transparent;
    
    border-left:33px solid rgba(88,88,88,0.5);
	-ms-transform:rotate(32deg);
	-webkit-transform:rotate(32deg);
	-moz-transform:rotate(32deg);
	-o-transform:rotate(32deg);
    transform:rotate(32deg);
}

#nav-arrow-left-filter{
    bottom:-38px;
    right:192px;
    border-top:53px solid transparent;
    border-bottom:32px solid transparent;
    
    border-left:33px solid rgba(88,88,88,0.5);
	-ms-transform:rotate(32deg);
	-webkit-transform:rotate(32deg);
	-moz-transform:rotate(32deg);
	-o-transform:rotate(32deg);
    transform:rotate(32deg);
}

#nav-arrow-right{
    bottom:-38px;
    left:92px;
    border-top:53px solid transparent;
    border-bottom:32px solid transparent;
    
    border-right:33px solid rgba(88,88,88,0.5);
	-ms-transform:rotate(-32deg);
	-webkit-transform:rotate(-32deg);
	-moz-transform:rotate(-32deg);
	-o-transform:rotate(-32deg);
    transform:rotate(-32deg);
}

.diagonal-line{
	position:fixed;
    /*z-index:-350;*/
}

#southWest{
	width:57px;
	left:86px;
	bottom:24px;
	border-bottom:2px solid rgba(255,255,255,0.7);
	-webkit-transform:rotate(58deg);
	-moz-transform:rotate(58deg);
	-o-transform:rotate(58deg);
	-ms-transform:rotate(58deg);
	transform:rotate(58deg);		
}

#southEast{
	width:57px;
	right:42px;
	bottom:24px;
	border-bottom:2px solid rgba(255,255,255,0.7);
	-webkit-transform:rotate(-58deg);
	-moz-transform:rotate(-58deg);
	-o-transform:rotate(-58deg);
	-ms-transform:rotate(-58deg);
	transform:rotate(-58deg);	    
}

#southEastFilter{
	width:57px;
	right:187px;
	bottom:24px;
	border-bottom:2px solid rgba(255,255,255,0.7);
	-webkit-transform:rotate(-58deg);
	-moz-transform:rotate(-58deg);
	-o-transform:rotate(-58deg);
	-ms-transform:rotate(-58deg);
	transform:rotate(-58deg);	
}
/* ====== end of triangle and diagonal lines ======= */

/* ======= graceful degradation =======*/
@media only screen and (max-width:493px){
    #corner-footer{
        visibility: hidden;
    }
    #nav-arrow-right{
        visibility: hidden;
    }
    #southWest{
        visibility: hidden;
    }

    .footer-wrapper{
        height:50px;
    }
    .icon-menu-background{
        left:-55px;
        background-image: none;
    }
    #inventory-corner{
        height:35px;
        bottom:-8px;
        right:115px;
    }
    #map-corner{
        height:35px;
        bottom:-8px;
        left:10px;
    }
}

@media only screen and (max-width:330px){
    #southEastFilter{
        visibility: hidden;
    }
    #nav-arrow-left-filter{
        visibility: hidden;
    }
    #view{
        visibility:visible;
        right:45px;
    }
    #corner-view{
        width:45px;
        background-color:transparent;
        border:none;
        visibility: visible;
    }
    #icon-about{
        right:5px;
        bottom:10px;
    }
}

@media only screen and (max-width:275px){
    #view{
        visibility: hidden;
    }
}

/* ===== end of graceful degradation =====*/

/* =========================== end of universal =========================*/


/* ============================ template-item =========================*/
.item-wrapper{
    position:fixed;
    top:100px;
    bottom:110px;
    height:auto;
    overflow:auto;
}

@media only screen and (min-width:1087px){
    .item-wrapper{
        width:60%;
        left:20%;
    }
}

@media only screen and (max-width:1086px){
    .item-wrapper{
        width:68%;
        left:18%;
    }
}

@media only screen and (max-width:783px){
    .item-wrapper{
        width:90%;
        left:5%;
        /*bottom:22%;*/
    }
}

.item-description{
    position:relative;
    width:45%;
    /*height:100%;*/
    float:left;
    border:1px solid white;
}

.item-description table{
    width:100%;
}

.item-description th{
    background-color:white;
    color:rgb(88,88,88);
    padding:10px;
}

.item-description td{
    background-color:rgba(88,88,88,0.5);
    color:white;
    text-align:left;
    padding:10px;
    line-height: 1.2;
}

.item-content{
    position:relative;
    width:55%;
    height:100%;
    float:right;
    border:1px solid white;
    background-color:rgba(88,88,88,0.5);
}

.item-content-holder{
    position:relative;
    width:90%;
    height:95%;
    left:5%;
    margin-top:2%;
}

.item-content-holder img, video{
    max-width:100%;
    max-height:100%;
}

/* ====== graceful degradation ======*/
@media only screen and (max-width:574px){
    .item-wrapper{
        bottom:75px;
        top:70px;
        height:auto;
        overflow: auto;
    }
    .item-description{
        position:relative;
        display:block;
        width:100%;
        /*height:100%;*/
        border:1px solid white;
    }
    .item-description table{
        padding: 0px;
        line-height: 1;
        font-size: 0.8em;
    }
    .item-content{
        position:relative;
        display:block;
        width:100%;
        height:auto;
        border:1px solid white;
        background-color:rgba(88,88,88,0.5);
    }
    .item-content-holder{
        width:96%;
        left:2%;
        margin-top:5px;
    }
}

@media only screen and (max-width:494px){
    .item-wrapper{
        bottom:55px;
    }
}
/* ===== end of graceful degradation =====*/

/* ===================== end of template-item =====================*/



/* ================ map ============= */

/*Google map basic setting, including hiding Google map logo*/

#map-canvas { height: 100% }

.gm-style a{
    visibility:hidden;
}
.gmnoprint{
    visibility:hidden;
}
.gmnoprint gm-style-cc{
    visibility:hidden;
}
.gm-style-cc{
    visibility:hidden;
}

/*end of Google map basic setting*/


/* Leaflet map basic setting*/
.leaflet-bottom{
    visibility: hidden;
}
.leaflet-container{
	background:#000000;
}
/* end of Leaflet map basic setting*/

#map{
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
  z-index:0;
}

/*rules affecting the popup-map class in the map page*/
.popup-map{
  position:fixed;
  top:20%;
  margin-left:65%;
  z-index:1002;
  background-color:transparent;
  color:#ececec;
  font-family: "Viner Hand ITC", Serif;
  font-weight:bold;
  border:0;
  font-size:22px;
  text-shadow:2px 2px rgba(217,0,0,0.7);
   
  -webkit-animation:fadein 1s; /*Safari and Chrome*/
  -moz-animation:fadein 1s; /*Firefox*/
  -ms-animation:fadein 1s; /*IE*/
  -o-animation:fadein 1s; /*Opera*/
  animation:fadein 1s;
}

@keyframes fadein{
	from {opacity:0;}
	to  {opacity:1;}
}

/*Firefox*/
@-moz-keyframes fadein{
	from {opacity:0;}
	to  (opacity:1;)
}

/*Safari and Chrome*/
@-webkit-keyframes fadein{
	from {opacity:0;}
	to  {opacity:1}
}

/*IE*/
@-ms-keyframes fadein{
	from {opacity:0;}
	to  {opacity:1;}
}

/*Opera*/
@-0-keyframes fadein{
	from {opacity:0;}
	to {opacity:1;}
}

/*end of popup-map class in the map page*/


/*beginning of custom popup for material*/

.leaflet-popup-content-wrapper{
	background:rgba(255,255,255,0.5);
	color:#fff;
	width:700px;
	height:100%;
	font-size:16px;
	line-height:24px;
}

.leaflet-popup-content-wrapper img{
	max-width:80%;
	max-height:80%;
}

/*.leaflet-popup-tip-container{
	height:-250px;
}*/

.leaflet-popup-tip{
	opacity:0;
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-top:15px solid transparent;
}

/*end of custom popup for material*/


/*beginning of light-box*/
#lightbox{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
/*another option for older browser with 1x1 PNG: 
	background: url(overlay.png) repeat*/
	text-align:center;
}

#lightbox p{
	text-align:right;
	color:#fff;
	margin-right:20px;
	font-size:12px;
}

#lightbox img{
	box-shadow:0 0 25px #111;
	-webkit-box-shadow:0 0 25px #111;
	-moz-box-shadow: 0 0 25px #111;
	max-width:80%;
	max-height:80%;
}

/*end of light-box*/
/* ============ end of map ============*/
/* ============================ end of touch these and you will die!!!!! =========================*/



/*beginning of Kyle's code - Inventory styling*/

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  //border: 3px solid #CCC;
  z-index: -1;
  /*piss yellow*/
  //background: linear-gradient(-15deg, #FFC200 1%, #808000 30%, #000000 100%);
  /*blueish background*/
  //background: linear-gradient(-15deg, #6495ED 1%, #C6E2FF 30%, #000000 100%);
  /*grey*/
  background: linear-gradient(-15deg, #CDC8B1 1%, #CDCDC1 10%, #000000 100%);
  opacity: 0.7;
  }


/*
.container:before{

	content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #FFC200 url("http://i.imgur.com/inAhQCX.png") no-repeat top center;
    background-size: cover;
    -webkit-filter: blur(10px);
}
*/

  .container .carousel {
    height: 350px;
    width: 100%;
    margin-top: 20%;
    margin: 10% auto; 
    //border: 3px solid #CCC;}
    .container .carousel ul {
      list-style-type: none;
      margin-top: 4px;
      width: 7000px;
      overflow: hidden;
      height: 100%;
      margin-left: 0;
      left: 0;
      padding-left: 1px; }
      .container .carousel ul li {
        display: inline;
        width: 180px;
        height: 90%;
        float: left;
       //border: 3px solid #CCC; 
        border-radius: 10px;
        margin-right: 25px;
        /*yellow*/
        //background: #CCA300;
        /*blue*/
        background: #B0C4DE;
        
        //opacity: 0.3;
        box-shadow: inset 0 0 1px #54958A, inset 0 0 20px #465468;
      }

.container .carousel ul li a{
    text-decoration: none;
    top: 20px;
    opacity: 0;
  }


.navPrev{
  float: left;
  cursor: pointer;

  }

.navNext{
  float: right;
  cursor: pointer; 
  }

